<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WINTER</title>
    <link rel="icon" href="../static/img/icon-dark.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <script src="../static/script.js"></script>

    <h3 id="timedate">17/3/2024, 19:18</h3>
    <img class="icon" src="../static/img/icon-dark.png" alt="icon">
    <div class="output-container">
        <p>Hello sir!</p>
    </div>
    <input id="textbox" type="text" placeholder="Message WINTER..." autocomplete="off" autofocus required>

    <script> update_clock(); </script>
</body>
</html>
